<!DOCTYPE html>
<html>

<head>
  <title>Gallery</title>
</head>

<body>
  <h1>Picture gallery</h1>
  <p>
    <a href="/">Back to the front page</a>
  </p>
  {% if session.username %}
  <p>
    <a href="/add_pic">Add a picture to the gallery</a>
  </p>
  {% endif %}
  <form action="/search" method="get">
    <p>
      Search from gallery:
      {% if query %}
      <input type="text" name="query" value="{{ query }}" />
      {% else %}
      <input type="text" name="query" />
      {% endif %}
    </p>
    <input type="submit" value="Search" />
  </form>
  <hr />
  {% for pic in pictures %}
  <p>
    <a href="/pic/{{ pic.id }}">{{ pic.title }}</a>
    <br />
    Added by user {{ pic.username }} at {{ pic.sent_at }}
  </p>
  <hr />
  {% endfor %}
</body>

</html>