<!DOCTYPE html>
<html>

<head>
  <title>Account creation</title>
</head>

<body>
  {% for message in get_flashed_messages() %}
    <p><strong>{{ message }}</strong></p>
  {% endfor %}
  <form action="/create" method="post">
    <p>
      Choose a username: <br />
      <input type="text" name="username" maxlength="16" required/>
    </p>
    <p>
      Choose a password: <br />
      <input type="password" name="password1" maxlength="16" required/>
    </p>
    <p>
      Enter the same password again: <br />
      <input type="password" name="password2" />
    </p>
    <input type="submit" value="Create account" />
  </form>
</body>

</html>